
.unexpected-1 {
    padding-bottom:0px;
    margin:10px;
    font-size:20px;
    font-family:sans-serif;
    
  }
.unexpected-1 {
    background: 
        linear-gradient(currentColor 0 0) var(--p, 50%) 
      100% /var(--d, 10%) 3px no-repeat;
    transition: 0.3s, background-position 0.3s 0.3s;
  
  }
  
.unexpected-1:hover {
    --d: 100%;
    --p: 0%;
    transition: 0.3s, background-size 0.3s 0.3s;
    color: #05C19C;
  }
  
.unexpected-3 {
    background: 
       linear-gradient(currentColor 0 0) left  var(--p, 50%) bottom 0 /var(--d, 10%) 3px no-repeat,
       linear-gradient(currentColor 0 0) right var(--p, 50%) bottom 0 /var(--d, 10%) 3px no-repeat;
    transition: 0.3s, background-position 0.3s 0.3s;
  }
  
.unexpected-3:hover {
    --d: 100%;
    --p: 100%;
    transition: 0.3s, background-size 0.3s 0.3s;
  }
  
.unexpected-2 {
    background: 
      linear-gradient(currentColor 0 0) left  var(--p, 50%) bottom 0 /var(--d, 10%) 3px no-repeat,
      linear-gradient(currentColor 0 0) right var(--p, 50%) bottom 0 /var(--d, 10%) 3px no-repeat;
    transition: 0.3s, background-position 0.3s 0.3s;
  }
  
.unexpected-2:hover {
    --d: 50%;
    --p: 50.1%;
    transition: cubic-bezier(0, 500, 1, 500) 0.3s, background-size 0.3s 0.3s;
  }
  
.unexpected-4 {
    background: 
        linear-gradient(currentColor 0 0) 
        var(--p, 50%) 100% /var(--d, 10%) 3px no-repeat;
    transition: 0.3s, background-position 0s;
  }
  
.unexpected-4:hover {
    --d: 100%;
    --p: 0%;
    transition: 0.3s, background-size 0.3s 0.3s;
  }
  
.unexpected-5 {
    background:
      linear-gradient(currentColor 0 0) calc(50% + 10px) 100% /20px 3px no-repeat,
      linear-gradient(90deg, transparent calc(100% - 20px), currentColor 0) 0 100%/var(--d, 50%) 3px no-repeat;
    transition: 0.3s;
  }
  
.unexpected-5:hover {
    --d: 0%;
    background-position: calc(50% + 0px) 100%, 0 100%;
    transition: 0.3s cubic-bezier(0, -5, 1, -5), background-size 0.3s 0.3s;
  }
  
.unexpected-6 {
    background: 
      linear-gradient(currentColor 0 0) left  var(--p, 50%) bottom 0 /var(--d, 20px) 3px no-repeat,
      linear-gradient(currentColor 0 0) right var(--p, 50%) bottom 0 /var(--d, 20px) 3px no-repeat;
    transition: 0.3s, background-position 0s;
  }
  
.unexpected-6:hover {
    --d: 100%;
    --p: 100%;
    transition: 0.3s, background-size 0.3s 0.3s;
  }
  
.unexpected-7 {
    background: linear-gradient(currentColor 0 0) -20% 100%/var(--p, 10%) 3px no-repeat;
    transition: 0.5s 0.3s cubic-bezier(0, 1.25, 1, 1.8), background-size 0.3s;
  }
  
.unexpected-7:hover {
    background-position: 50% 100%;
    --p: 50%;
    transition: 0.5s cubic-bezier(0, 1.25, 1, 1.8), background-size 0.2s 0.7s;
  }
  
.unexpected-8 {
    background: linear-gradient(currentColor 0 0) bottom/var(--p, 10%) 3px no-repeat;
    transition: 0s;
  }
  
  .unexpected-8:hover {
    --p: 10.1%;
    transition: 0.5s cubic-bezier(0, 800, 1, 800);
  }
  
  
  .d-1 {
    --b:4px;   /* border length*/
    --c:20px;  /* the cube perspective */
    
    --g:calc(var(--c)*0.707); /* 0.707 = cos(45deg) = sin(45deg) */
    
    transition: 0.5s;
    border: solid transparent;
    border-width:var(--b) var(--b) calc(var(--c) + var(--b)) calc(var(--c) + var(--b));
    background:
      linear-gradient(-45deg,transparent var(--g),rgba(255,255,255,0.6) 0) left  /var(--c) 100%,
      linear-gradient(135deg,transparent var(--g),rgba(255,255,255,0.3) 0) bottom /100% var(--c),
      conic-gradient(from -90deg at top var(--b)   right var(--b),currentColor 270deg,transparent 0),
      conic-gradient(from  90deg at bottom calc(var(--c) + var(--b)) left calc(var(--c) + var(--b)),currentColor 270deg,transparent 0) ;
    background-repeat:no-repeat;
    background-origin:border-box;
    transform:translate(calc(var(--c)/-1),calc(var(--c)/1));
    clip-path: 
      polygon(var(--c) 0%, var(--c) 0%, 
      100% 0%, 
      100% calc(100% - var(--c)),100% calc(100% - var(--c)),
      var(--c) calc(100% - var(--c)),
      var(--c) calc(100% - var(--c)));
  }
  .d-1:hover {
    transform:translate(0,0);
    clip-path: 
      polygon(0% var(--c), var(--c) 0%, 
      100% 0%, 
      100% calc(100% - var(--c)), calc(100% - var(--c)) 100%, 
      0% 100%,0% 100%);
  }
  .d-2 {
    --b:2px;   /* border length*/
    --c:20px;  /* the cube perspective */
    
    --g:calc(var(--c)*0.707); /* 0.707 = cos(45deg) = sin(45deg) */
    
    color:blue;
    transition: 0.5s;
    border: solid transparent;
    border-width:var(--b) calc(var(--c) + var(--b)) calc(var(--c) + var(--b)) var(--b);
    background:
      linear-gradient(  45deg,transparent var(--g),rgba(255,255,255,0.6) 0) right  /var(--c) 100%,
      linear-gradient(-135deg,transparent var(--g),rgba(255,255,255,0.3) 0) bottom /100% var(--c),
      conic-gradient(from -180deg at top var(--b) left var(--b),currentColor 270deg,transparent 0),
      conic-gradient(from    0deg at bottom calc(var(--c) + var(--b)) right calc(var(--c) + var(--b)),currentColor 270deg,transparent 0) ;
    background-repeat:no-repeat;
    background-origin:border-box;
    transform:translate(calc(var(--c)/1),calc(var(--c)/1));
    clip-path: 
      polygon(calc(100% - var(--c)) 0%, calc(100% - var(--c)) 0%, 
      0% 0%, 
      0% calc(100% - var(--c)),0% calc(100% - var(--c)),
      calc(100% - var(--c)) calc(100% - var(--c)),
      calc(100% - var(--c)) calc(100% - var(--c)));
  }
  .d-2:hover {
    transform:translate(0,0);
    clip-path: 
      polygon(100% var(--c), calc(100% - var(--c)) 0%, 
      0% 0%, 
      0% calc(100% - var(--c)), var(--c) 100%, 
      100% 100%,
      100% 100%);
  }
  
  .d-3 {
    --c:20px;  /* the cube perspective */
    
    --g:calc(var(--c)*0.707); /* 0.707 = cos(45deg) = sin(45deg) */
    
    border: solid transparent;
    border-width:0 var(--c) var(--c) 0;
    background:
      linear-gradient(  45deg,transparent var(--g),rgba(255,255,255,0.6) 0) right  /var(--c) 100%,
      linear-gradient(-135deg,transparent var(--g),rgba(255,255,255,0.3) 0) bottom /100% var(--c);
    background-repeat:no-repeat;
    background-origin:border-box;
    transition:0.3s,background-color 0.3s 0.3s,color 0.3s 0.3s;
    transform:translate(calc(var(--c)/1),calc(var(--c)/1));
    clip-path: 
      polygon(calc(100% - var(--c)) 0%, calc(100% - var(--c)) 0%, 
      0% 0%, 
      0% calc(100% - var(--c)),0% calc(100% - var(--c)),
      calc(100% - var(--c)) calc(100% - var(--c)),
      calc(100% - var(--c)) calc(100% - var(--c)));
  }
  .d-3:hover {
    transition:0.3s 0.3s,background-color 0.3s,color 0.3s;
    background-color:black;
    color:#fff;
    transform:translate(0,0);
    clip-path: 
      polygon(100% var(--c), calc(100% - var(--c)) 0%, 
      0% 0%, 
      0% calc(100% - var(--c)), var(--c) 100%, 
      100% 100%,
      100% 100%);
  }
  .d-4 {
    --c:20px;  /* the cube perspective */
    
    --g:calc(var(--c)*0.707); /* 0.707 = cos(45deg) = sin(45deg) */
    
    
    border: solid transparent;
    border-width:0 0 var(--c) var(--c) ;
    background:
      linear-gradient(-45deg,transparent var(--g),rgba(255,255,255,0.6) 0) left   /var(--c) 100%,
      linear-gradient(135deg,transparent var(--g),rgba(255,255,255,0.3) 0) bottom /100% var(--c);
    background-repeat:no-repeat;
    background-origin:border-box;
    transition:0.3s,background-color 0.3s 0.3s,color 0.3s 0.3s;
    transform:translate(calc(var(--c)/-1),calc(var(--c)/1));
    clip-path: 
      polygon(var(--c) 0%, var(--c) 0%, 
      100% 0%, 
      100% calc(100% - var(--c)),100% calc(100% - var(--c)),
      var(--c) calc(100% - var(--c)),
      var(--c) calc(100% - var(--c)));
  }
  .d-4:hover {
    transition:0.3s 0.3s,background-color 0.3s,color 0.3s;
    background-color:blue;
    color:#fff;
    transform:translate(0,0);
    clip-path: 
      polygon(0% var(--c), var(--c) 0%, 
      100% 0%, 
      100% calc(100% - var(--c)), calc(100% - var(--c)) 100%, 
      0% 100%,0% 100%);
  }
  
 .scroll-container {
  overflow-y: scroll;
 
 }
 html, body { 
  scroll-behavior: smooth
}